@page "/home/{Id:int}/{Correo}/Transacciones"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Tipo Cambiario</PageTitle>
<EspacioActual></EspacioActual>
<h1>Lista de Transacciones del espacio:</h1>

<h3> Transacciones de costos:</h3>
<table class="table">
	
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Fecha</th>
			<th>Monto</th>
			<th>Moneda</th>
			<th>Cuenta</th>
			<th>Categoría</th>
		</tr>
	</thead>
	<tbody>
		@foreach (TransaccionCosto transaccion in (EspacioLogic.FindEspacio(Persistencia.Id).Transacciones.Where(c => c is TransaccionCosto)))
		{
			<tr>
				<td>@transaccion.Titulo</td>
				<td>@transaccion.FechaTransaccion</td>
				

				
					@if (transaccion.CuentaMonetaria is Ahorro cuentaAhorro)
					{
						<td>@cuentaAhorro.Monto</td>
						<td>@cuentaAhorro.Moneda</td>
						<td>@cuentaAhorro.Nombre</td>

					}
					else if (transaccion.CuentaMonetaria is Credito cuentaCredito)
					{
						
						<td>@cuentaCredito.CreditoDisponible</td>
						<td>@cuentaCredito.Moneda</td>
						<td><text>Banco:</text>@cuentaCredito.BancoEmisor <text>|	</text> <text>Num:</text>@cuentaCredito.NumeroTarjeta</td>
					}
				<td>@transaccion.CategoriaTransaccion.Nombre</td>		
			</tr>
		}
	</tbody>
</table>

<br>
<br>

<h3> Transacciones de ingresos:</h3>
<table class="table">

	<thead>
		<tr>
			<th>Titulo</th>
			<th>Fecha</th>
			<th>Monto</th>
			<th>Moneda</th>
			<th>Cuenta</th>
			<th>Categoría</th>
		</tr>
	</thead>
	<tbody>
		@foreach (TransaccionIngreso transaccion in (EspacioLogic.FindEspacio(Persistencia.Id).Transacciones.Where(c => c is TransaccionIngreso)))
		{
			<tr>
				<td>@transaccion.Titulo</td>
				<td>@transaccion.FechaTransaccion</td>

				@if (transaccion.CuentaMonetaria is Ahorro cuentaAhorro)
				{
					<td>@cuentaAhorro.Monto</td>
					<td>@cuentaAhorro.Moneda</td>
					<td>@cuentaAhorro.Nombre</td>

				}
				else if (transaccion.CuentaMonetaria is Credito cuentaCredito)
				{

					<td>@cuentaCredito.CreditoDisponible</td>
					<td>@cuentaCredito.Moneda</td>
					<td><text>Banco:</text>@cuentaCredito.BancoEmisor <text>|	</text> <text>Num:</text>@cuentaCredito.NumeroTarjeta</td>
				}
				<td>@transaccion.CategoriaTransaccion.Nombre</td>
			</tr>
		}
	</tbody>
</table>


<a class="btn btn-primary" href="/home/@Persistencia.Id/@Persistencia.Correo/CrearTransaccionCosto">Crear Transacción Costo</a>
<a class="btn btn-primary" href="/home/@Persistencia.Id/@Persistencia.Correo/CrearTransaccionIngreso">Crear Transacción Ingreso</a>
<p style="color:red">@ErrorMsg</p>



@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }

}