@page "/home/{Id:int}/{Correo}/CrearTransaccionCosto"
<PageTitle>FinTrac Transacción</PageTitle>
<TituloRosado Titulo="Crear Transacción de Costo" Subtitulo="Cree sus transacciones de costo."></TituloRosado>
<EspacioActual></EspacioActual>


<div class="mt-4">
	<h3 class="text-lg font-medium mb-2">Detalles de la Transacción</h3>
	<div class="flex flex-col space-y-2">
		<div>
			<label class="text-gray-600">Título de la Transacción</label>
			<input type="text" @bind="inputTitulo" class="border rounded-md px-2 py-1" />
		</div>
		<div>
			<label class="text-gray-600">Monto</label>
			<input type="number" step="0.01" @bind="inputMonto" class="border rounded-md px-2 py-1" />
		</div>
		<div>
			<label class="text-gray-600">Moneda</label>
			<select @onchange="SeleccionarMoneda" class="border rounded-md px-2 py-1">
				@foreach (var moneda in monedas)
				{
					<option value="@moneda">@moneda</option>
				}
			</select>
		</div>
		<div>
			<label class="text-gray-600">Cuenta Monetaria</label>
			<select @onchange="SeleccionarCuenta" class="border rounded-md px-2 py-1">
				@foreach (Cuenta cuenta in cuentas)
				{
					<option value="@cuenta">@cuenta.ToString()</option>
				}
			</select>
		</div>
		<div>
			<label class="text-gray-600">Categoría de la Transacción</label>
			<select @onchange="SeleccionarCategoria" class=" border rounded-md px-2 py-1">
				@foreach (var categoria in categorias)
				{
					if (categoria.Tipo.Equals(TipoCategoria.Costo))
					{
						<option value="@categoria.Nombre">@categoria.Nombre</option>
					}
				}
			</select>
		</div>
		<p style="color:red">@ErrorMsg</p>
		<button class="bg-blue-500 text-white text-xs font-medium px-2 py-1 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800 mt-2"
		@onclick="() => CrearTransaccion()">
			Crear Transacción
		</button>
	</div>
</div>

@code {
	private string estiloPersonalizado;
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	private string ErrorMsg { get; set; } = "";
	private string inputTitulo { get; set; } = "";
	private double inputMonto { get; set; } = 0;
	private string inputCuenta { get; set; }
	private string inputCategoria { get; set; }
	private Espacio espacio = new Espacio();
	private List<Cuenta> cuentas = new List<Cuenta>();
	private List<Categoria> categorias = new List<Categoria>();
	private Categoria categoria;
	private Cuenta cuenta;
	private Domain.TipoCambiario tipoMonedaSeleccionado;
	private List<Domain.TipoCambiario> monedas;


	protected override void OnInitialized()
	{
		espacio = EspacioLogic.FindEspacio(Id);
		cuentas = espacio.Cuentas;
		categorias = espacio.Categorias;
		monedas = Enum.GetValues(typeof(Domain.TipoCambiario)).Cast<Domain.TipoCambiario>().ToList();
	}

	private void SeleccionarMoneda(ChangeEventArgs e)
	{
		tipoMonedaSeleccionado = (Domain.TipoCambiario)Enum.Parse(typeof(Domain.TipoCambiario), e.Value.ToString());
	}

	private void SeleccionarCuenta(ChangeEventArgs e)
	{
		string selectedValue = e.Value.ToString();
		cuenta = cuentas.FirstOrDefault(c => c.ToString().Equals(selectedValue));
	}

	private void SeleccionarCategoria(ChangeEventArgs e)
	{
		string selectedValue = e.Value.ToString();
		categoria = categorias.FirstOrDefault(c => c.Nombre == selectedValue);
	}

	private void CrearTransaccion()
	{
		try
		{
			TransaccionCosto transaccion = new TransaccionCosto()
				{
					Titulo = inputTitulo,
					Monto = inputMonto,
					Moneda = tipoMonedaSeleccionado,
					CuentaMonetaria = cuenta,
					CategoriaTransaccion = categoria,
				};
			espacio.AgregarTransaccion(transaccion);

			if (cuenta is Ahorro)
			{
				Ahorro ahorro = (Ahorro)cuenta;
				ahorro.EgresoMonetario(inputMonto);
			}
			if (cuenta is Credito)
			{
				Credito credito = (Credito)cuenta;
				credito.EgresoMonetario(inputMonto);
			}

			EspacioLogic.UpdateEspacio(espacio);
			NavigationManager.NavigateTo($"/home/{Persistencia.Id}/{Persistencia.Correo}/Transacciones");
		}
		catch (DomainEspacioException ex)
		{
			ErrorMsg = ex.Message;
		}
	}
}