@page "/home/{Id:int}/{Correo}/{idTrans:int}/ModificarTransaccionCosto"
<PageTitle>FinTrac Transacción</PageTitle>
<TituloRosado Titulo="Modificar Transacción de Costo" Subtitulo="Modifiqué sus transacciones de costo."></TituloRosado>
<EspacioActual></EspacioActual>


<div class="mt-4">
	<h3 class="text-lg font-medium mb-2">Detalles de la Transacción</h3>
	<div class="flex flex-col space-y-2">
		<div>
			<label class="text-gray-600">Monto</label>
			<input type="number" step="0.01" @bind="inputMonto" class="border rounded-md px-2 py-1" />
		</div>
		<div>
			<label class="text-gray-600">Moneda</label>
			<select @onchange="SeleccionarMoneda" class="border rounded-md px-2 py-1">
				<option value="">Seleccione una Opcion</option>
				@foreach (var moneda in monedas)
				{
					<option value="@moneda">@moneda</option>
				}
			</select>
		</div>
		<div>
			<label class="text-gray-600">Categoría de la Transacción</label>
			<select @onchange="SeleccionarCategoria" class=" border rounded-md px-2 py-1">
				<option value="">Seleccione una Opcion</option>
				@foreach (var categoria in categorias)
				{
					<option value="@categoria.Nombre">@categoria.Nombre</option>
				}
			</select>
		</div>
		<p style="color:red">@ErrorMsg</p>
		<button class="bg-blue-500 text-white text-xs font-medium px-2 py-1 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800 mt-2"
		@onclick="() => ModificarTransaccion()">
			Modificar Transacción
		</button>
	</div>
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	[Parameter] public int IdTrans { get; set; }
	private string ErrorMsg { get; set; } = "";
	private double inputMonto { get; set; } = 0;
	private string inputCategoria { get; set; }
	private Espacio espacio = new Espacio();
	private List<Categoria> categorias = new List<Categoria>();
	private Categoria categoria;
	private Transaccion transaccion;
	private Domain.TipoCambiario tipoMonedaSeleccionado;
	private List<Domain.TipoCambiario> monedas;


	private void SeleccionarMoneda(ChangeEventArgs e)
	{
		tipoMonedaSeleccionado = (Domain.TipoCambiario)Enum.Parse(typeof(Domain.TipoCambiario), e.Value.ToString());
	}

	protected override void OnInitialized()
	{
		espacio = EspacioLogic.FindEspacio(Id);
		categorias = espacio.Categorias;
		transaccion = espacio.Transacciones.Find(t => t.IdTransaccion.Equals(IdTrans));
		monedas = Enum.GetValues(typeof(Domain.TipoCambiario)).Cast<Domain.TipoCambiario>().ToList();
	}

	private void SeleccionarCategoria(ChangeEventArgs e)
	{
		string selectedValue = e.Value.ToString();
		categoria = categorias.FirstOrDefault(c => c.Nombre == selectedValue);
	}

	private void ModificarTransaccion()
	{
		try
		{
			transaccion.Monto = inputMonto;
			transaccion.Moneda = tipoMonedaSeleccionado;
			transaccion.CategoriaTransaccion = categoria;
			EspacioLogic.UpdateEspacio(espacio);
			NavigationManager.NavigateTo
			($"/home/{Persistencia.Id}/{Persistencia.Correo}/Transacciones");
		}
		catch (DomainEspacioException ex)
		{
			ErrorMsg = ex.Message;
		}
	}
}