@page "/home/{Id:int}/{Correo}/Espacios"
@inject NavigationManager NavigationManager
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;

<PageTitle>FinTec Espacio</PageTitle>

<div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
	<svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
		<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
	</svg>
	<div>
		<strong >@EspacioLogic.FindEspacio(Persistencia.Id).Nombre</strong> 
		<p>Se encuentra en el espacio @EspacioLogic.FindEspacio(Persistencia.Id).Nombre por mas información contáctese con el administrador del espacio: @EspacioLogic.FindEspacio(Persistencia.Id).Admin.Correo .</p>
	</div>
</div>

<BotonVerdeAgua></BotonVerdeAgua>
<a class="btn btn-success btn-sm" href="/home/@Persistencia.Id/@Persistencia.Correo/CrearEspacios">Crear Espacio</a>

@foreach (var espacio in espacios)
{
	<div class="card">
		<div class="card-body">
			<h5 class="card-title"><strong>Nombre</strong>@espacio.Nombre</h5>
			@if (espacio.Admin.Correo == Persistencia.Correo)
			{
				<p>Soy administrador</p>
			}
			<p class="card-text"><Strong>Admin:</Strong>@($"{espacio.Admin.Nombre} {espacio.Admin.Apellido}")</p>
			<button class="btn btn-primary" @onclick="() => ClickCambiarDeEspacio(espacio)">Cambiar de Espacio</button>
			@if (espacio.Admin.Correo == Persistencia.Correo)
			{
				<button class="btn btn-primary" @onclick="() => MostrarInput(espacio)">Cambiar Nombre</button>

				@if (mostrarInput && espacio.Equals(espacioClickeado))
				{
					<input type="text" @bind="inputNombre" />
					<button class="btn btn-primary" @onclick="() => CambiarNombre(espacio)">Guardar</button>
					<button class="btn btn-primary" @onclick="CambiarNombreCerrar">Cerrar</button>
					<p style="color:red">@ErrorMsg</p>
				}
			}
		</div>
	</div>
}


@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public List<Espacio>? espacios { get; set; }
	public Espacio? espacioClickeado { get; set; }
	public string? ErrorMsg { get; set; }
	private bool mostrarInput = false;
	private string inputNombre = string.Empty;

	protected override void OnInitialized()
	{
		espacios = EspacioLogic.EspaciosByCorreo(Correo);
	}

	public void ClickCambiarDeEspacio(Espacio espacio)
	{
		Persistencia.Id = espacio.Id;
		NavigationManager.NavigateTo($"/home/{Persistencia.Id}/{Persistencia.Correo}");
	}

	private void MostrarInput(Espacio espacio)
	{
		espacioClickeado = espacio;
		mostrarInput = !mostrarInput;
	}

	private void CambiarNombre(Espacio espacio)
	{
		try
		{
			espacio.Nombre = inputNombre;
			ErrorMsg = "";
			inputNombre = "";
			mostrarInput = false;
		}
		catch (DomainEspacioException e)
		{
			ErrorMsg = e.Message;
		}
	}

	private void CambiarNombreCerrar()
	{
		mostrarInput = false;
		espacioClickeado= null;
		inputNombre = "";
	}
}
