@page "/home/{Id:int}/{Correo}/EditarUsuario"
@using Controlador;

<PageTitle>Editar Usuario</PageTitle>
<TituloRosado Titulo="Editar Usuario" Subtitulo="Configure sus datos personales."></TituloRosado>
<EspacioActual></EspacioActual>

<div class="grid md:grid-cols-2 md:gap-6">
	<div class="relative z-0 w-full mb-6 group">
		<p style="color:gray" class="mb-4">Nombre:</p>
		<input type="text" @bind="nombreInput" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Nombre" />
		<p style="color:red" class="mb-4">@msgErrorNombre</p>
	</div>
	<div class="relative z-0 w-full mb-6 group">
		<p style="color:gray" class="mb-4">Apellido:</p>
		<input type="text" @bind="apellidoInput" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Apellido" />
		<p style="color:red" class="mb-4">@msgErrorApellido</p>
	</div>
</div>
<div class="relative z-0 w-full mb-6 group">
	<p style="color:gray" class="mb-4">Contraseña:</p>
	<input type=@mostrarContrasena @bind="passwordInput" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Contraseña" />
	<button @onclick="ClickMostrarContrasena" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">@msgBoton</button>
	<p style="color:red" class="mb-4">@msgErrorContrasena</p>
</div>
<div class="relative z-0 w-full mb-6 group">
	<p style="color:gray" class="mb-4">Dirección:</p>
	<input type="text" @bind="direccionInput" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Dirección" />
	<p style="color:red" class="mb-4">@msgErrorDireccion</p>
</div>

<button @onclick="ClickModificar" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Modificar</button>

@code {
	[Parameter]
	public int Id { get; set; }
	[Parameter]
	public string Correo { get; set; }
	private string nombreInput = "";
	private string apellidoInput = "";
	private string passwordInput = "";
	private string mostrarContrasena = "password";
	private string direccionInput = "";
	private string msgErrorNombre = "";
	private string msgErrorContrasena = "";
	private string msgErrorApellido = "";
	private string msgErrorDireccion = "";
	private string msgBoton = "Mostrar Contraseña";
	private UsuarioDTO usuarioActual;
	private ControladorHome controlador;

	protected override void OnInitialized()
	{
		controlador = new ControladorHome(UsuarioLogic, Persistencia.Correo);
		usuarioActual = controlador.Usuario;
		CargarImputs(controlador);
	}

	private void CargarImputs(ControladorHome controlador)
	{
		nombreInput = usuarioActual.Nombre;
		apellidoInput = usuarioActual.Apellido;
		passwordInput = usuarioActual.Contrasena;
		direccionInput = usuarioActual.Direccion;
	}

	private void ClickModificar()
	{
		msgErrorNombre = controlador.ModificarNombre(nombreInput);
		msgErrorContrasena = controlador.ModificarContrasena(passwordInput);
		msgErrorApellido = controlador.ModificarApellido(apellidoInput);
		msgErrorDireccion = controlador.ModificarDireccion(direccionInput);
	}

	private void ClickMostrarContrasena()
	{
		if (mostrarContrasena.Equals("text"))
		{
			mostrarContrasena = "password";
			msgBoton = "Mostrar Contraseña";
		}
		else
		{
			mostrarContrasena = "text";
			msgBoton = "Ocultar Contraseña";
		}
	}
}
