@page "/home/{Id:int}/{Correo}/ReporteD"
@inject NavigationManager NavigationManager;
@using BussinesLogic
@using Domain
@inject UsuarioLogic UsuarioLogic;
@inject EspacioLogic EspacioLogic;
@inject Persistencia Persistencia;
@inject ControladorReporte controladorReporte;
@inject ControladorCuenta controladorCuenta;
@inject ControladorCambios controladorCambios;

<PageTitle>FinTrac Reportes</PageTitle>
<TituloRosado Titulo="Reporte de Gastos por Tarjeta" Subtitulo=""></TituloRosado>

<div style="position:relative;" class="mt-4">
	<h3 class="text-lg font-medium mb-2">Gastos por Tarjeta</h3>
	<div style="display:flex; flex-direction:column" class="mt-4">
		<div style="flex-grow: 1; padding-bottom:15px" class="flex flex-col space-y-2">
			<label for="cardSelector" class="text-sm font-medium text-gray-500">Seleccione una tarjeta:</label>
			<select @bind="tarjetaActual" id="cardSelector" name="mes">
				@foreach (string tarjeta in generarListaTarjetas())
				{
					<option value="@tarjeta"> @tarjeta </option>
				}
			</select>
		</div>
		<a style="position:relative; flex-grow:1; cursor:pointer; width:50%; left:23%; align-items:center; justify-content:center; display: flex; font-size: 25px" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" @onclick="generarReporte">Generar Reporte</a>
	</div>

	<div class="flex flex-col space-y-2">
		@if (gastosTarjeta.Count == 0)
		{
			<div style="border: solid; border-color: #d4d4d4; width: 32%; border-radius:9px; left:0%; position:relative; align-items:center; justify-content:center; left:32%">
				<h1 style="padding-left:6px">No hay transacciones que permitan esta operacion.</h1>
			</div>
		}
		else
		{
			<table class="min-w-full divide-y divide-gray-200">
				<thead class="bg-gray-50">
					<tr>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Titulo
						</th>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Monto $
						</th>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Fecha
						</th>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Moneda - Monto
						</th>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Banco
						</th>
						<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
							Valor moneda
						</th>
					</tr>
				</thead>
				<tbody class="bg-white divide-y divide-gray-200">
					@foreach (TransaccionDTO transaccion in gastosTarjeta)
					{
						if (transaccion.Moneda != TipoCambiarioDTO.PesosUruguayos)
						{
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									@transaccion.Titulo
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									$ @(transaccion.Monto * encontrarCambio(transaccion, cambios).Pesos)
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									@transaccion.FechaTransaccion
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									@if (transaccion.Moneda.Equals(TipoCambiario.Euro))
									{
										<div>@transaccion.Moneda - Є @transaccion.Monto</div>
									} else
									{
										<div>@transaccion.Moneda - U$D @transaccion.Monto</div>
									}
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									@(transaccion.CuentaMonetaria)
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									$@encontrarCambio(transaccion, cambios).Pesos
								</td>
							</tr>
						}
						else
						{
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									@transaccion.Titulo
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									$ @transaccion.Monto
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									@transaccion.FechaTransaccion
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									@transaccion.Moneda
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									@transaccion.CuentaMonetaria
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		}
	</div>
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string Correo { get; set; }
	public string ErrorMsg { get; set; }
	public List<TransaccionDTO> gastosTarjeta { get; set; }
	public List<CreditoDTO> cuentas { get; set; }
	public List<CambioDTO> cambios = new List<CambioDTO>();
	public string tarjetaActual { get; set; }

	private void generarReporte()
	{
		gastosTarjeta = controladorReporte.ReporteGastosTarjeta(Persistencia.Id, tarjetaActual);
	}

	public List<string> generarListaTarjetas()
	{
		List<string> toRet = new List<string>();
		foreach (CuentaDTO cuenta in cuentas)
		{
			if (cuenta is CreditoDTO)
			{
				string tarjeta = ((CreditoDTO)cuenta).NumeroTarjeta;
				if (!(toRet.Contains(tarjeta)))
				{
					toRet.Add(tarjeta);
				}
			}
		}
		return toRet;
	}

	public CambioDTO encontrarCambio(TransaccionDTO transaccion, List<CambioDTO> listaCambios)
	{
		CambioDTO cambioDTO = new CambioDTO();
		foreach (CambioDTO cambio in listaCambios)
		{
			if (cambio.FechaDeCambio.Day == transaccion.FechaTransaccion.Day && cambio.FechaDeCambio.Month == transaccion.FechaTransaccion.Month && cambio.FechaDeCambio.Year == transaccion.FechaTransaccion.Year && cambio.Moneda.Equals(transaccion.Moneda))
			{
				cambioDTO = cambio;
			}
		}
		return cambioDTO;
	}

	protected override void OnInitialized()
	{
		tarjetaActual = "1111";
		cambios = controladorCambios.CambiosDeEspacio(Persistencia.Id);
		cuentas = controladorCuenta.CreditosDeEspacio(Persistencia.Id);
		gastosTarjeta = new List<TransaccionDTO>();
	}
}
